<a href="https://colab.research.google.com/github/SimoneKris/KGS-Data-Analytics-Portfolio/blob/main/hotel_evidence13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
hotel_evidnece = files.upload()

Saving hotel_evidence (1).csv to hotel_evidence (1).csv

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("hotel_evidence (1).csv")
print(df.head(5))

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel          0.0      342.0             2015.0               July
1  Resort Hotel          0.0      737.0             2015.0               July
2  Resort Hotel          0.0        7.0             2015.0               July
3  Resort Hotel          0.0       13.0             2015.0               July
4  Resort Hotel          0.0       14.0             2015.0               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                      27.0                        1.0
1                      27.0                        1.0
2                      27.0                        1.0
3                      27.0                        1.0
4                      27.0                        1.0

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  company  \
0                      0.0                   0.0     2.0  ...      NaN
1                      0.0                   0.0     2.0  ...      NaN
2                      0.0                   1.0     1.0  ...      NaN
3                      0.0                   1.0     1.0  ...      NaN
4                      0.0                   2.0     2.0  ...      NaN

   days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                   0.0     Transient   0.0                         0.0
1                   0.0     Transient   0.0                         0.0
2                   0.0     Transient  75.0                         0.0
3                   0.0     Transient  75.0                         0.0
4                   0.0     Transient  98.0                         0.0

  total_of_special_requests  reservation_status  reservation_status_date  \
0                       0.0           Check-Out                   7/1/15
1                       0.0           Check-Out                   7/1/15
2                       0.0           Check-Out                   7/2/15
3                       0.0           Check-Out                   7/2/15
4                       1.0           Check-Out                   7/3/15

   booking_number total_charges
0       1000000.0           0.0
1       1000001.0           0.0
2       1000002.0          75.0
3       1000003.0          75.0
4       1000004.0         196.0

[5 rows x 34 columns]

In [6]:
print(df.tail(5))

             hotel  is_canceled  lead_time  arrival_date_year  \
119385  City Hotel          0.0       23.0             2017.0
119386  City Hotel          0.0      102.0             2017.0
119387  City Hotel          0.0       34.0             2017.0
119388  City Hotel          0.0      109.0             2017.0
119389  City Hotel          0.0      205.0             2017.0

       arrival_date_month  arrival_date_week_number  \
119385             August                      35.0
119386             August                      35.0
119387             August                      35.0
119388             August                      35.0
119389             August                      35.0

        arrival_date_day_of_month  stays_in_weekend_nights  \
119385                       30.0                      2.0
119386                       31.0                      2.0
119387                       31.0                      2.0
119388                       31.0                      2.0
119389                       29.0                      2.0

        stays_in_week_nights  adults  ...  company  days_in_waiting_list  \
119385                   5.0     2.0  ...      NaN                   0.0
119386                   5.0     3.0  ...      NaN                   0.0
119387                   5.0     2.0  ...      NaN                   0.0
119388                   5.0     2.0  ...      NaN                   0.0
119389                   7.0     2.0  ...      NaN                   0.0

       customer_type     adr required_car_parking_spaces  \
119385     Transient   96.14                         0.0
119386     Transient  225.43                         0.0
119387     Transient  157.71                         0.0
119388     Transient  104.40                         0.0
119389     Transient  151.20                         0.0

       total_of_special_requests  reservation_status  reservation_status_date  \
119385                       0.0           Check-Out                   9/6/17
119386                       2.0           Check-Out                   9/7/17
119387                       4.0           Check-Out                   9/7/17
119388                       0.0           Check-Out                   9/7/17
119389                       2.0           Check-Out                   9/7/17

        booking_number total_charges
119385       9999999.0        672.98
119386       1119386.0     100000.00
119387       1119387.0       1103.97
119388       1119388.0        730.80
119389       1119389.0       1360.80

[5 rows x 34 columns]

In [7]:
df.dtypes

hotel                              object
is_canceled                       float64
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
booking_number                    float64
total_charges                     float64
dtype: object

In [8]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'booking_number',
       'total_charges'],
      dtype='object')

In [9]:
df.loc[119385]

hotel                                City Hotel
is_canceled                                 0.0
lead_time                                  23.0
arrival_date_year                        2017.0
arrival_date_month                       August
arrival_date_week_number                   35.0
arrival_date_day_of_month                  30.0
stays_in_weekend_nights                     2.0
stays_in_week_nights                        5.0
adults                                      2.0
children                                    0.0
babies                                      0.0
meal                                         BB
country                                     BEL
market_segment                    Offline TA/TO
distribution_channel                      TA/TO
is_repeated_guest                           0.0
previous_cancellations                      0.0
previous_bookings_not_canceled              0.0
reserved_room_type                            A
assigned_room_type                            A
booking_changes                             0.0
deposit_type                         No Deposit
agent                                     394.0
company                                     NaN
days_in_waiting_list                        0.0
customer_type                         Transient
adr                                       96.14
required_car_parking_spaces                 0.0
total_of_special_requests                   0.0
reservation_status                    Check-Out
reservation_status_date                  9/6/17
booking_number                        9999999.0
total_charges                            672.98
Name: 119385, dtype: object

In [10]:
df.insert(loc = 34, column = 'is_false', value = 0)

In [11]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'booking_number',
       'total_charges', 'is_false'],
      dtype='object')

In [12]:
df['is_false'].describe()

count    119390.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: is_false, dtype: float64

In [13]:
df.count()

hotel                             119389
is_canceled                       119389
lead_time                         119389
arrival_date_year                 119389
arrival_date_month                119389
arrival_date_week_number          119389
arrival_date_day_of_month         119389
stays_in_weekend_nights           119389
stays_in_week_nights              119389
adults                            119389
children                          119385
babies                            119389
meal                              119389
country                           118901
market_segment                    119389
distribution_channel              119389
is_repeated_guest                 119389
previous_cancellations            119389
previous_bookings_not_canceled    119389
reserved_room_type                119389
assigned_room_type                119389
booking_changes                   119389
deposit_type                      119389
agent                             103050
company                             6797
days_in_waiting_list              119389
customer_type                     119389
adr                               119389
required_car_parking_spaces       119389
total_of_special_requests         119389
reservation_status                119389
reservation_status_date           119389
booking_number                    119389
total_charges                     119390
is_false                          119390
dtype: int64

In [14]:
from scipy import stats

In [25]:
df['booking_number'].describe()

count    1.193890e+05
mean     1.059769e+06
std      4.309612e+04
min      1.000000e+06
25%      1.029848e+06
50%      1.059695e+06
75%      1.089542e+06
max      9.999999e+06
Name: booking_number, dtype: float64

In [26]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,booking_number,total_charges,is_false
count,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119385.000000,119389.000000,...,119389.000000,103050.000000,6797.000000,119389.000000,119389.000000,119389.000000,119389.000000,1.193890e+05,119390.000000,119390.0
mean,0.370419,104.012187,2016.156564,27.165384,15.798340,0.927573,2.500147,1.856385,0.103874,0.007949,...,0.221109,86.693382,189.266735,2.321169,101.830752,0.062510,0.571368,1.059769e+06,358.684189,0.0
std,0.482919,106.863213,0.707471,13.605753,8.780905,0.998578,1.907709,0.579288,0.398525,0.097437,...,0.652288,110.774548,131.655015,17.594793,50.535840,0.245277,0.792800,4.309612e+04,442.705141,0.0
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000,1.000000e+06,-63.800000,0.0
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000,1.029848e+06,146.000000,0.0
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,14.000000,179.000000,0.000000,94.560000,0.000000,0.000000,1.059695e+06,267.000000,0.0
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,1.089542e+06,446.315000,0.0
max,1.000000,737.000000,2017.000000,75.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,...,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000,9.999999e+06,100000.000000,0.0

In [27]:
df.isna().sum()

hotel                                  1
is_canceled                            1
lead_time                              1
arrival_date_year                      1
arrival_date_month                     1
arrival_date_week_number               1
arrival_date_day_of_month              1
stays_in_weekend_nights                1
stays_in_week_nights                   1
adults                                 1
children                               5
babies                                 1
meal                                   1
country                              489
market_segment                         1
distribution_channel                   1
is_repeated_guest                      1
previous_cancellations                 1
previous_bookings_not_canceled         1
reserved_room_type                     1
assigned_room_type                     1
booking_changes                        1
deposit_type                           1
agent                              16340
company                           112593
days_in_waiting_list                   1
customer_type                          1
adr                                    1
required_car_parking_spaces            1
total_of_special_requests              1
reservation_status                     1
reservation_status_date                1
booking_number                         1
total_charges                          0
is_false                               0
dtype: int64

In [29]:
df.loc[:,['booking_number', 'is_false']]

        booking_number  is_false
0            1000000.0         0
1            1000001.0         0
2            1000002.0         0
3            1000003.0         0
4            1000004.0         0
...                ...       ...
119385       9999999.0         0
119386       1119386.0         0
119387       1119387.0         0
119388       1119388.0         0
119389       1119389.0         0

[119390 rows x 2 columns]

In [38]:
df.loc[df['is_false'] == 1, 'is_false'] = 1

In [39]:
df.loc[:,['booking_number', 'is_false']]

        booking_number  is_false
0            1000000.0         0
1            1000001.0         0
2            1000002.0         0
3            1000003.0         0
4            1000004.0         0
...                ...       ...
119385       9999999.0         0
119386       1119386.0         0
119387       1119387.0         0
119388       1119388.0         0
119389       1119389.0         0

[119390 rows x 2 columns]

In [40]:
df['arrival_date_week_number'].describe()

count    119389.000000
mean         27.165384
std          13.605753
min           1.000000
25%          16.000000
50%          28.000000
75%          38.000000
max          75.000000
Name: arrival_date_week_number, dtype: float64

In [45]:
from pandas.core.algorithms import value_counts
df.loc[:,['arrival_date_week_number','booking_number']], value_counts('values')

(        arrival_date_week_number  booking_number
 0                           27.0       1000000.0
 1                           27.0       1000001.0
 2                           27.0       1000002.0
 3                           27.0       1000003.0
 4                           27.0       1000004.0
 ...                          ...             ...
 119385                      35.0       9999999.0
 119386                      35.0       1119386.0
 119387                      35.0       1119387.0
 119388                      35.0       1119388.0
 119389                      35.0       1119389.0

 [119390 rows x 2 columns], values    6
 dtype: int64)

In [51]:
df.loc[df['booking_number'] > 1119389, 'is_false'] = 1

In [53]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,booking_number,total_charges,is_false
count,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119389.000000,119385.000000,119389.000000,...,119389.000000,103050.000000,6797.000000,119389.000000,119389.000000,119389.000000,119389.000000,1.193890e+05,119390.000000,119390.000000
mean,0.370419,104.012187,2016.156564,27.165384,15.798340,0.927573,2.500147,1.856385,0.103874,0.007949,...,0.221109,86.693382,189.266735,2.321169,101.830752,0.062510,0.571368,1.059769e+06,358.684189,0.000008
std,0.482919,106.863213,0.707471,13.605753,8.780905,0.998578,1.907709,0.579288,0.398525,0.097437,...,0.652288,110.774548,131.655015,17.594793,50.535840,0.245277,0.792800,4.309612e+04,442.705141,0.002894
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000,1.000000e+06,-63.800000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000,1.029848e+06,146.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,14.000000,179.000000,0.000000,94.560000,0.000000,0.000000,1.059695e+06,267.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,1.089542e+06,446.315000,0.000000
max,1.000000,737.000000,2017.000000,75.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,...,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000,9.999999e+06,100000.000000,1.000000

In [61]:
var_columns = df.filter