<a href="https://colab.research.google.com/github/SimoneKris/KGS-Data-Analytics-Portfolio/blob/main/TitanicFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Import Files

from google.colab import files
titanic = files.upload()

Saving Titanic CSV.csv to Titanic CSV.csv

In [7]:
# Import Packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error as MSE

In [10]:
#Create Database and name it df
df = pd.read_csv('Titanic CSV.csv')

In [11]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [12]:
df.describe()

            pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882     0.381971     0.498854     0.385027
std       0.837836     0.486055     1.041658     0.865560
min       1.000000     0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000     0.000000
75%       3.000000     1.000000     1.000000     0.000000
max       3.000000     1.000000     8.000000     9.000000

In [13]:
# Print the Shape
df.shape

(1309, 14)

In [14]:
# Splitting the data into the target variable and fetaures of interest
X = df[['pclass']]

y = df[['survived']]

In [15]:
# Splitting the Data using test train split
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [16]:
#Step 8

print(X_train_val.shape)
print(X_test.shape)

(981, 1)
(328, 1)

In [17]:
#Step 9

X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.3333, random_state=42)

In [18]:
#Step 10

print(X_train.shape)
print(X_val.shape)

(654, 1)
(327, 1)

In [19]:
# Split the data into the target variable and the feature of interest.
X = df[['pclass', 'sibsp', 'parch']]

y = df[['survived']]

print(X)

      pclass  sibsp  parch
0          1      0      0
1          1      1      2
2          1      1      2
3          1      1      2
4          1      1      2
...      ...    ...    ...
1304       3      1      0
1305       3      1      0
1306       3      0      0
1307       3      0      0
1308       3      0      0

[1309 rows x 3 columns]