<a href="https://colab.research.google.com/github/SimoneKris/KGS-Data-Analytics-Portfolio/blob/main/Titanic_Machine_Learning_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning: Final Project

### Predicting Survival on the *Titanic*

The final project is intended to simulate participation in a Kaggle competition. Your challenge is to build the most accurate model for predicting which passangers would survive the sinking of the *Titanic*. The ***Titanic Machine Learning Final Project.ipynb*** Colab notebook provides some guidance for tackling the project and suggests some things to think about as you get started. However, many of the model-building decisions are left up to you. 
**Note**: Use comments in your code and text blocks to explain your decisions and results.

### Build a Pipeline for a Kaggle Competition!

Kaggle was started in 2010 as a platform for machine learning competitions, which aim to identify how best to optimize supervised learning problems. These initiatives offer a two-way benefit. They help companies improve their internal algorithms and they provide prospective data professionals opportunities to prove their worth.

Though Kaggle usually has a singular aim of maximizing a specific metric, the idea of finding the best possible algorithm and furthermore optimizing its hyperparameters is the daily task of a data scientist. Moreover, success in Kaggle can be great for a future resume (since your information is saved on their site).

Obviously, the timeframe for this lesson is not realistic in terms of a typical Kaggle workflow, as competitors spend weeks or even months optimizing every piece of an algorithm they can. However, you can get started with preliminary testing and use these principles to enter your own Kaggle competitions in the future!

# Step 1: Importing Libraries

It is best practice to import all libraries and packages early in the process.

You'll probably want to import Pandas plus some packages from scikit-learn.

| Type | Path | Regression | Classification |
| --- | --- | --- | --- |
| **Linear Models** | `sklearn.linear_model` | `LinearRegression` | `LogisticRegression` |
|  |  |`Ridge` | `RidgeClassifier` |
|  |  |`Lasso` |  |
| **K Nearest Neighbors** | `sklearn.neighbors` | `KNeighborsRegressor` | `KNeighborsClassifier` |
| **Support Vector Machines** | `sklearn.svm.` | `SVR` | `SVC` |
| **Naive Bayes** |  `sklearn.naive_Bayes` |  |`CategoricalNB` (Categorical) |
|  |  |  | `MultinomialNB` (Sentiment Analysis) |
| **Decision Trees** | `sklearn.tree` | `DecisionTreeRegressor` | `DecisionTreeClassifier` |
| **Ensemble - Random Forests** | `sklearn.ensemble` | `RandomForestRegressor` | `RandomForestClassifier`
| **Ensemble - Boosting** | `sklearn.ensemble` | `AdaBoostRegressor` | `AdaBoostClassifier` |
|  | `sklearn.ensemble` | `GradientBoostRegressor` | `GradientBoostClassifier` |



| Type | Path | Package |
| --- | --- | --- |
| Preprocessing | `sklearn.preprocessing` | `StandardScaler` |
| |`sklearn.preprocessing` | `MinMaxScaler` |
| |`sklearn.preprocessing` | `MaxAbsScaler` |
| Model Selection - Splitting| `sklearn.model_selection` | `train_test_split` |
| Model Selection - Grid Search | `sklearn.model_selection` | `GridSearchCV` |
| Model Selection - Scoring | `sklearn.model_selection` | `cross_val_score` |
| Metrics | `sklearn.metrics` | `confusion_matrix` |


**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [46]:
#Step 1 importing libaries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error as MSE

# linear algebra
import numpy as np 

# data processing
import pandas as pd 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

#Step 2:  Load the `Titanic.csv` Data
You may want to refer back to one of your previous Colab notebooks to copy the Google Import code.

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [48]:
from google.colab import files
titanic1 = files.upload()

Saving titanic1.csv to titanic1 (2).csv

In [49]:
# Create Pandas DataFrame from the CSV file and call if "df"
df = pd.read_csv('titanic1.csv')

In [50]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [87]:
# Convert the Variable sex into a numeric data type and chnage sex to gender and label 1 for female and 0 for male
df.sex[df.sex == 'male']=0
df.sex[df.sex == 'female'] =1
print(df)

      pclass  survived                                             name sex  \
0          1         1                    Allen, Miss. Elisabeth Walton   1
1          1         1                   Allison, Master. Hudson Trevor   0
2          1         0                     Allison, Miss. Helen Loraine   1
3          1         0             Allison, Mr. Hudson Joshua Creighton   0
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   1
...      ...       ...                                              ...  ..
1304       3         0                             Zabour, Miss. Hileni   1
1305       3         0                            Zabour, Miss. Thamine   1
1306       3         0                        Zakarian, Mr. Mapriededer   0
1307       3         0                              Zakarian, Mr. Ortin   0
1308       3         0                               Zimmerman, Mr. Leo   0

         age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0         29      0      0   24160  211.3375       B5        S    2    NaN
1     0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2          2      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3         30      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4         25      1      2  113781  151.5500  C22 C26        S  NaN    NaN
...      ...    ...    ...     ...       ...      ...      ...  ...    ...
1304    14.5      1      0    2665   14.4542      NaN        C  NaN  328.0
1305     NaN      1      0    2665   14.4542      NaN        C  NaN    NaN
1306    26.5      0      0    2656    7.2250      NaN        C  NaN  304.0
1307      27      0      0    2670    7.2250      NaN        C  NaN    NaN
1308      29      0      0  315082    7.8750      NaN        S  NaN    NaN

                            home.dest  gender
0                        St Louis, MO     1.0
1     Montreal, PQ / Chesterville, ON     0.0
2     Montreal, PQ / Chesterville, ON     1.0
3     Montreal, PQ / Chesterville, ON     0.0
4     Montreal, PQ / Chesterville, ON     1.0
...                               ...     ...
1304                              NaN     1.0
1305                              NaN     1.0
1306                              NaN     0.0
1307                              NaN     0.0
1308                              NaN     0.0

[1309 rows x 15 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#Step 3: Split the Data

The next step is to separate the target column from the feature matrix and perform a train/test split. 

*   What is the target and what are the features in the data?
*   Are there any features that you want to drop?
*   Is there any feature engineering that you need to do?

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [91]:
#Step 3 Split the data into target variable "survived"

y = df[['survived']]
X = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'embarked', 'boat', 'home.dest']]

In [92]:
#splitting the data into a training/validation and tesst set

X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [93]:
print(X_train_val.shape)
print(X_test.shape)

(981, 10)
(328, 10)

In [94]:
# Splitting the data again into Validation/Training set using Random state of 42 and test size of .333

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.333, random_state=42)

In [95]:
print(X_train.shape)
print(X_test.shape)

(873, 10)
(436, 10)

In [96]:
X.head()

,pclass,sex,age,sibsp,parch,ticket,fare,embarked,boat,home.dest
0,1,1,29,0,0,24160,211.3375,S,2,"St Louis, MO"
1,1,0,0.9167,1,2,113781,151.5500,S,11,"Montreal, PQ / Chesterville, ON"
2,1,1,2,1,2,113781,151.5500,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,30,1,2,113781,151.5500,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,1,25,1,2,113781,151.5500,S,NaN,"Montreal, PQ / Chesterville, ON"

In [97]:
y.head()

   survived
0         1
1         1
2         0
3         0
4         0

In [103]:
# dropping columns boat
df = df.drop(['boat'], axis = 1)

In [104]:
# rerun the code without the boat and name
X = df[['pclass', 'sex', 'age', 'fare', 'sibsp', 'parch', 'embarked']]
y = df ['survived']

In [105]:
# Before moving to encoding, it is important to define "embarked" with the most common city from which people joined the Titatnic
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])

#Step 4: Clean and Preprocess the Data

Use the code block below to clean and preprocess your data. Some considerations you may want to think about include the following:  
*  Are there any missing values that need to be imputed?
*  Do you need to encode any categorical features?
*  Do you need to standardize any quantitative features?
 
**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [107]:
one_hot =pd.get_dummies(data = X, columns=['sex', 'embarked'])

#Step 5: Build the Baseline Model

Ideally, you will want to set a baseline algorithm to build off of. The most logical start is *linear regression* for *regression* and *logistic regression* for *classification*, as they are the basis for their respective algorithms.

Once you have the baseline set, you will want to choose an algorithm that surpasses the baseline.

Select a baseline model and fit it to your data.

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [117]:
# Step 5 using the logistic regression model
from sklearn.linear_model import LogisticRegression


log_reg = LogisticRegression(random_state = 0)
log_reg_model = log_reg.fit(X_train, y_train)

ValueError: ignored

#Step 6: Evaluate the Baseline Model

Use cross-validation to calculate the appropriate model evaluation metric. 

Is your model doing a good job fitting the data?  

If you have ideas for how to improve your model fit, go back and make those changes to earlier steps.

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [ ]:
#Step 6

# Step 7: Fit the Data to at Least One Other Model

Select one (or more) other appropriate model and use it to model the data. Calculate the cross-validation accuracy of each model. 

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [ ]:
#Step 7

# Step 8: Evaluate Your Best Model

Evaluate your best model using the test set. 

*   Which model fit the data best?
*   What was the best accuracy you were able to achieve?  

**Note**: Use comments in your code and text blocks to explain your decisions and results.

In [ ]:
# Step 8

#Step 9: Final Reporting

Summarize your model building process:  
* How did you identify the model target and features?  
* What steps did you take to prepare the data for modeling?  
* Which baseline model did you choose and why? How did you evaluate the model's performance?  
* Which other model(s) did you choose and why? How did you evaluate the model's performace?  
* What was the best model you developed? How well did the model perform on the test data?

#Step 9: